body {
    line-height: 1.6;
    font-size: 18px;
    color: #b3b3b3;
    padding: 0 10px;
}
h1, h2, h3 {
    line-height: 1.2;
    margin: 30px;
}

.column {
    margin: 0px 100px;
}

#mapid {
    height: 480px;
}

.list-header {
    font-weight: 600;
    font-size: 1.25 rem;
}

.result-item {
    border-radius: 8px;
    color: #111;
    background: #c9c9c9;
    padding: 5px;
    margin: 10px;
}