/* basic page styles */
html, body {
    background-color: #fd9e68;
}

body {
    line-height: 1.6;
    font-size: 18px;
    color: #292929;
    padding: 0 10px;
}
h1, h2, h3 {
    line-height: 1.2;
    margin: 30px;
}

/* column styles */
.column {
    margin: 0px 100px;
}

.button {
    margin: 10px 0px;
}

#mapid {
    height: 480px;
    border: 5px dashed rgb(124, 0, 124);
}

/* result list styles */
.result-item {
    border-radius: 8px;
    color: #111;
    background: #c9c9c9;
    margin: 10px;
}

.message-body {
    padding: 0px;
}

.no-result {
    text-align: center;
    padding: 5px;
}

.address {
    text-align: center;
    padding: 15px;
}