/* initial page setup */
body {
    font-family: 'Share', sans-serif;
    background: #eebe80;
    color: #0f0d0d;
    padding: 40px 0;
}

h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: 75;
    text-transform: uppercase;
    line-height: 1.2;
}

.header {
    margin-bottom: 10px;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.container * {
    box-sizing: border-box;
}

.flex-outer,
.flex-inner {
    list-style-type: none;
    padding: 0;
}

.flex-outer {
    max-width: 800px;
    margin: 0 auto;
}

/* initial CSS flex rules */
.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-inner {
    padding: 0 8px;
    justify-content: space-between;
}

/* put spaces between li items */
.flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
}

/* flex items width */
.flex-outer > li > label,
.flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
    flex: 1 0 220px;
}

/* submit button */
.flex-outer li button {
    font-family: 'Share', sans-serif;
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    border-radius: 2px;
}

/* flex items */
.flex-inner li {
    width: 100px;
}

.flex-inner {
    justify-content: space-between;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
    padding: 15px;
    border: none;
}